<template>
  <form class="clientForm">
    <div class="margin-mod">Атрибуты формы:</div>
    <input
      v-model="persone.secondName"
      class="clientForm__name margin-mod inputStyle-mod"
      type="text"
      placeholder="Фамилия"
    />
    <input
      class="clientForm__secondName margin-mod inputStyle-mod"
      type="text"
      placeholder="Имя"
      v-model="persone.firstName"
    />
    <input
      class="clientForm__patronymic margin-mod inputStyle-mod"
      type="text"
      placeholder="Отчество"
      v-model="persone.patronymic"
    />
    <div class="margin-mod">
      <label for="birthDate">Дата рождения: </label>
      <input
        class="clientForm__birthDate"
        type="date"
        id="birthDate"
        v-model="persone.birthDate"
      />
    </div>
    <input
      class="clientForm__phoneNum margin-mod inputStyle-mod"
      type="tel"
      placeholder="Номер телефона"
      v-model="persone.phoneNum"
    />
    <div class="clientForm__gender margin-mod">
      <input
        type="radio"
        id="genderMale"
        name="gender"
        value="Male"
        v-model="persone.gender"
      />
      <label for="genderMale">Мужчина</label>
      <input
        type="radio"
        id="genderFemale"
        name="gender"
        value="Female"
        v-model="persone.gender"
      />
      <label for="genderFemale">Женщина</label>
    </div>
    <div class="margin-mod">Выберите группу:</div>
    <div class="margin-mod">
      <input
        type="checkbox"
        id="vip"
        value="VIP"
        v-model="persone.groupClients"
      />
      <label for="vip">VIP</label>
      <input
        type="checkbox"
        id="hardPeople"
        value="Проблемные"
        v-model="persone.groupClients"
      />
      <label for="hardPeople">Проблемные</label>
      <input
        type="checkbox"
        id="oms"
        value="ОМС"
        v-model="persone.groupClients"
      />
      <label for="oms">ОМС</label>
    </div>
    <div class="margin-mod">
      <label for="groupDoctor">Лечащий врач: </label>
      <select id="groupDoctor" v-model="persone.healDoctor">
        <option value="Иванов">Иванов</option>
        <option value="Захаров">Захаров</option>
        <option value="Чернышева">Чернышева</option>
      </select>
    </div>
    <div class="margin-mod">
      <input type="checkbox" id="nosms" v-model="persone.sendMessage" />
      <label for="nosms">Не отправлять СМС</label>
    </div>
    <div class="margin-mod">Адрес:</div>
    <input
      class="margin-mod inputStyle-mod"
      type="text"
      placeholder="Индекс"
      v-model="persone.addressIndex"
    />
    <input
      class="margin-mod inputStyle-mod"
      type="text"
      placeholder="Страна"
      v-model="persone.addressCountry"
    />
    <input
      class="margin-mod inputStyle-mod"
      type="text"
      placeholder="Область"
      v-model="persone.addressRegion"
    />
    <input
      class="margin-mod inputStyle-mod"
      type="text"
      placeholder="Город"
      v-model="persone.addressCity"
    />
    <input
      class="margin-mod inputStyle-mod"
      type="text"
      placeholder="Улица"
      v-model="persone.addressStreet"
    />
    <input
      class="margin-mod inputStyle-mod"
      type="text"
      placeholder="Дом"
      v-model="persone.addressHouse"
    />
    <div class="margin-mod">Паспорт:</div>
    <div class="margin-mod">
      <label for="typeOfDocument">Тип документа: </label>
      <select v-model="persone.typeOfDocument" id="typeOfDocument">
        <option value="pasport" selected>Паспорт</option>
        <option value="birthCertificate">Свидетельство о рождении</option>
        <option value="driverLicense">Вод. удостоверение</option>
      </select>
    </div>
    <input
      class="margin-mod inputStyle-mod"
      type="text"
      placeholder="Серия"
      v-model="persone.docSeries"
    />
    <input
      class="margin-mod inputStyle-mod"
      type="text"
      placeholder="Номер"
      v-model="persone.docNumber"
    />
    <input
      class="margin-mod inputStyle-mod"
      type="text"
      placeholder="Кем выдан"
      v-model="persone.docIssuedBy"
    />
    <div class="margin-mod">
      <label for="birthDate">Дата выдачи: </label>
      <input class="margin-mod" type="date" v-model="persone.docDateOfIssue" />
    </div>
    <input @click.prevent="console" type="submit" value="" />
  </form>
</template>

<script>
import useVuelidate from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";

export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    // return {
    //   firstName: "",
    //   lastName: "",
    //   contact: {
    //     email: "",
    //   },
    // };
    return {
      persone: {
        secondName: "",
        firstName: "",
        patronymic: "",
        birthDate: "",
        phoneNum: "",
        gender: "",
        groupClients: [],
        healDoctor: "",
        sendMessage: "",
        addressIndex: "",
        addressCountry: "",
        addressRegion: "",
        addressCity: "",
        addressStreet: "",
        addressHouse: "",
        typeOfDocument: "",
        docSeries: "",
        docNumber: "",
        docIssuedBy: "",
        docDateOfIssue: "",
      },
    };
  },
  validations() {
    return {
      firstName: { required }, // Matches this.firstName
      lastName: { required }, // Matches this.lastName
      contact: {
        email: { required, email }, // Matches this.contact.email
      },
    };
  },
};
</script>

<style scoped lang="scss">
input {
  padding: 0;
  margin: 0;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
::placeholder {
  padding-left: 10px;
  color: rgb(102, 102, 102);
  font-size: 0.7em;
}
/*---------------------------------------*/
.clientForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.margin-mod {
  margin: 5px 0;
}
.inputStyle-mod {
  font: 1.2em "Fira Sans", sans-serif;
  background-color: rgb(245, 237, 206);
  border: none;
  border-bottom: 2px solid #000;
  width: 300px;
  height: 30px;
}
.inputStyle-mod:focus {
  border-bottom: 2px solid rgb(38, 218, 47);
}
</style>
