<template>
  <clientForm />
</template>

<script>
import clientForm from "./components/TheClientForm.vue";

export default {
  name: "App",
  components: {
    clientForm,
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
